[2016-03-14 21:40] elfring opened #2 "reserved identifier violation"
I would like to point out that identifiers like "[`__HASHTABLE_H__`](https://github.com/srdja/Collections-C/blob/dcfc675238aae19b3bc1f2b9b00f59b7f33b8df8/src/hashtable.h#L21)" and "[`__TREESET_H_`](https://github.com/srdja/Collections-C/blob/dcfc675238aae19b3bc1f2b9b00f59b7f33b8df8/src/treeset.h#L21)" [do eventually not fit](https://www.securecoding.cert.org/confluence/display/c/DCL37-C.+Do+not+de

[2016-03-15 03:57] srdja commented on #2
Good point. I guess they should be changed to something that won't potentially clash with reserved names.

[2016-03-15 12:02] jjungo opened #3 "vector.h doesn't exist"
In the file collections-c.h, [vecor.h](https://github.com/srdja/Collections-C/blob/master/src/collections-c.h#L14) file does not exist in `src` directory.

[2016-03-15 12:09] srdja commented on #3
Good find! The whole [collections-c.h](https://github.com/srdja/Collections-C/blob/master/src/collections-c.h) should go away since it doesn't make much sense.

[2016-03-15 14:10] srdja opened #4 "Check for allocator failures"
The code shouldn't assume that memory allocation never fails.

[2016-03-15 14:16] srdja opened #5 "Different approach to error reporting"
Curretnly all errors are reported by returning an error code, which is in itself not a problem, however if a function should also return a value, problems arise. One is that the error codes have to share the type with the return value and second, the error codes limit the range of valid values that can be returned from a function.

A better approach would be to have the function return value reser

[2016-03-15 14:32] #3 closed

[2016-03-16 00:59] neobreaker opened #8 "May cause core dump"
Nice to see you!
I see the source code of array. I found that it just stores the address of the element. And in all of the test code , it only adds auto var in the same scope to the array. If I add auto val in a different scope. Then I get it in the origin scope, it would cause code dump. Because the val in other scope has been destoryed. Sorry for my poor English!

[2016-03-16 01:43] srdja commented on #8
Hi @neobreaker thanks for taking your time to open an issue. If I understand you correctly a pointer to a stack allocated value is stored in a container and then the container goes to outlive the value? Can you be more specific where this is happening? A link to the code in question would be very helpful.

[2016-03-16 02:11] ankurdh opened #9 "SIGSEGV, Segmentation fault in array.c"
Hi,

First of all, thank you for the cool implementations of the collections. I'm using one array implementation to implement a Heap.

I have this function:
`bool heap_insert(Heap *heap, void *element)
{
        size_t pos = array_size(heap->v) + 1;

        for(; pos > 1; pos = pos/2 )
                if(element > array_get(heap->v, pos/2))
                        if(!array_add_at(heap->v, array_

[2016-03-16 02:18] srdja commented on #9
Well it's most certainly not supposed to segfault! I'll look into it.

[2016-03-16 02:22] neobreaker commented on #8
Hello @srdja Ok. Please see the attach code. Line 52 and 85 is where I modified. [https://github.com/neobreaker/firstgit/blob/master/array_test.c](url)

[2016-03-16 02:28] neobreaker commented on #8
@srdja Sorry ,I found click the url above would be 404, copy it to the explore input box would be fine.

[2016-03-16 02:34] srdja commented on #9
Ok, I've found what's causing it. It's an integer overflow right [here](https://github.com/srdja/Collections-C/blob/master/src/array.c#L176). That check fails catastrophically when the size is 0 and then everything goes down hill from there.

[2016-03-16 02:47] srdja commented on #9
I've added a [fix](https://github.com/srdja/Collections-C/commit/557da0fc69877784770c90fc9bc74d4d97413e80). It should be working now.

[2016-03-16 02:56] #9 closed

[2016-03-16 16:34] mame98 opened #10 "linked list with signals"
I would like to see a list which is basicly a linked list, but you should be able to add callback functions for the following actions:

* new item added
* item removed

Similar to: [ObservableCollections in C#](https://msdn.microsoft.com/de-de/library/ms668604(v=vs.110).aspx)

I would want to implement this.
What do you think? would you like to see it implemented in the default linked list or in a

[2016-03-16 17:17] ankurdh commented on #9
I merged the fix and it worked. Thank you very much for the fix. :)

- Ankur

[2016-03-16 17:23] ankurdh commented on #10
Hi @mame98 ,

Thats a good point. I think it's the best to implement a wrapper around the base linked list. This will help us keep the linked list clean with only the functions it's supposed to provide.

- Ankur

[2016-03-16 20:19] mame98 commented on #10
Yeah, I will work on this soon...

[2016-03-16 21:16] srdja commented on #8
The tests work because the arrays never last longer than the values stored in them. You can see that each test function creates a new array and then that array is destroyed at the end of the function and never reused. This is why it's perfectly fine to use stack allocated values.

[2016-03-16 21:16] #8 closed

[2016-03-17 18:10] #5 closed

[2016-03-17 18:11] #4 closed

[2016-03-18 13:55] srdja opened #12 "Inline source documentation is out of sync"

[2016-03-18 14:24] srdja commented on #10
This is not bad idea. The most convinient way to implement this would be to keep the callback pointers in the container structure and just call them from appropriate functions if they are set. Two extra pointers shouldn't make much of a difference unless you're using lots of small containers, where the container structures themselves use a significant portion memory.

So basically if you wanted to

[2016-03-18 14:38] mame98 commented on #10
Okay, I think the way @ankurdh suggested is a bit better, because as you said that if you do not want the callbacks you are wasting memory.
You would just need to have some small wrapper functions which call the list functions but also trigger the callbacks...

So I would create a small structure like:

[code]

Then you would just implement an (inline) function to get the List from this WatchList.

[2016-03-18 15:14] srdja commented on #10
I don't think that the solution you've proposed is practical. For one you wouldn't be able to use a List and WatchList interchangeably. Any peace of code that expects a List wouldn't be able to use the WatchList because its essentially a different container with a different API. Another thing is that the wrapper seems redundant because if the caller already knows that it's calling a function that

[2016-03-18 19:04] mame98 commented on #10
Yeah seems right... I will work on your solution tomorrow...

[2016-03-26 12:11] srdja opened #15 "Binary search on a sorted Array"
You should be able do perform a binary search on a sorted array.

[2016-03-26 12:22] srdja opened #16 "Zip iterators"
Collections with iterators should also have zip iterators.

[code]
Basically this gives you a simpler and more efficient API when you want to iterate over two collections in locksep.

[2016-03-26 12:43] srdja opened #17 "Filter functions"
Collections should have `*_filter` and `*_filter_mut` functions so that one may do something like this:

[code]

[2016-03-26 12:52] srdja opened #18 "*_contains function for values"
Collections should also have a `*_contains` function that looks for values instead of pointers.

[code]

[2016-03-26 13:37] srdja opened #19 "Reduce functions"
It might be convinient for collections to have a [fold/reduce](https://en.wikipedia.org/wiki/Fold_%28higher-order_function%29) function so that you may do something like this:

[code]

[2016-03-27 10:51] #2 closed

[2016-03-27 13:21] elfring commented on #2
Thanks for [your improvement of affected include guards](https://github.com/srdja/Collections-C/commit/334c528ca2b33931a78b1fff5ad897e4b037ac99 "Deletion of a few underscores").

[2016-03-27 13:26] elfring opened #21 "Make include guards unique"
I find that include guards like "[`COMMON_H_`](https://github.com/srdja/Collections-C/blob/e556f471f4e67c3185b118d59fcbf36a3dd21d6d/src/common.h#L21)" and "[`LIST_H_`](https://github.com/srdja/Collections-C/blob/0380cfca1d921b9221506ec0f0bcf222d81e7af4/src/list.h#L21)" are too short for the safe reuse of your header files (when they belong to an application programming interface).

[2016-03-27 16:07] srdja commented on #21
Yeah, they are kind of generic. Perhaps prepending something like `CC_` or `COLLECTIONS_C_` would make them unique enough.

[2016-03-27 18:08] elfring commented on #21
How do you think about to make [the mentioned include guards](https://en.wikipedia.org/wiki/Include_guard#Difficulties "Consistency for include guards") unique by appending [a kind of UUID](https://en.wikipedia.org/wiki/Universally_unique_identifier "universally unique identifier")?

[2016-03-27 21:53] guru-das commented on #21
I believe the usual convention for header guards is to use two underscores, like so:

`__COMMON_H__`

[2016-03-27 23:51] srdja commented on #21
@elfring seems like a good idea.

[2016-03-27 23:57] srdja commented on #21
@guru-das Sure people use that convetion often, but `__COMMON_H__` is common enough to clash with other possible definitions of it, which makes it a bad header guard :-)

[2016-03-30 06:37] Nekel-Seyew commented on #15
So this begs the question, when do we know it's sorted? We could sort it every time the method is called. But probably, we'd want to have a variable in array_c called "is_sorted" that is only ever set to true when the array_sort() is called, and set to false when any alteration to the array is made, yeah?

[2016-03-30 16:07] srdja commented on #15
Yeah, sorting on each search is way worse that just doing a linear search. We definetly want to just  mark the array when it's sorted.

I think it's best to implement bsearch as an internal optimization instead of a function that the user can call. For example if the user calls something like `array_index_of`, it can use bsearch internally if the array is marked as sorted instead of a linear searc

[2016-03-30 17:41] Nekel-Seyew commented on #15
Bsearch won't work in that instance, because bsearch only returns if a given item is in the array, not the first index as "index_of" normally returns. We could then just go backwards till we get first item, but then that's basically the same as linear search.

[2016-03-30 18:17] srdja commented on #15
There's no need to use the libc bsearch. It's trivial to implement a bsearch to return the index of the matching element.

[2016-03-30 18:34] Nekel-Seyew commented on #15
I mean the bsearch algorithm, not just the libc implementation, isn't guaranteed to return the first element in a sorted array which matches, just returns true if it does find it. Which means we'd then have to search for it ourselves, going backwards.

[2016-03-30 18:40] #21 closed

[2016-03-30 18:56] srdja commented on #15
I see what you mean. It doesn't match the spec of finding the first match in the sequence. But we should still be able to get better performance if we mix bsearch and linear search than with plain linear search, because on average, once we find the match through bsearch, we won't have to go  too far backwards to find the first element.

[2016-03-31 00:19] srdja commented on #16
- [ ] Array
- [ ] List
- [ ] Slist
- [ ] Deque
- [ ] Queue
- [ ] Stack

[2016-03-31 09:03] elfring commented on #21
Thanks for [your small source code improvement](https://github.com/srdja/Collections-C/commit/82883c53a4e303b8bc55a18713db55653828899c "Safer include guards").

[2016-03-31 09:18] elfring opened #26 "Improve cooperation with C++ environments"
[Some code from C source files](https://github.com/srdja/Collections-C/blob/82883c53a4e303b8bc55a18713db55653828899c/src/slist.h#L24) should be wrapped by the setting '[`extern "C"`](https://isocpp.org/wiki/faq/mixing-c-and-cpp#include-c-hdrs-personal)' for C++ tools, shouldn't it?

[2016-03-31 09:23] elfring opened #27 "Use of angle brackets around file names for include statements"
Would you like to [replace any double quotes](https://github.com/srdja/Collections-C/blob/4a5d1f4b68ec4aa80c797fd57309140867e82210/src/stack.c#L21) by [angle brackets around file names for include statements](http://stackoverflow.com/questions/21593/what-is-the-difference-between-include-filename-and-include-filename)?

[2016-03-31 16:08] srdja commented on #26
It seems reasonable to do so.

[2016-03-31 16:47] srdja commented on #27
I'm not sure what we would gain from this. It would also break the test builds.

[2016-03-31 16:56] elfring commented on #27
I suggest to reconsider the consequences of [the following wording](http://c0x.coding-guidelines.com/6.10.2.html "Source file inclusion") from [the section "16.2 Source file inclusion"](http://open-std.org/jtc1/sc22/wg21/docs/papers/2013/n3797.pdf "C++ working draft") in the standard specification for the programming language "C++".
[code]

* How do you think about to avoid "a duplicated file sear

[2016-03-31 17:49] srdja commented on #27
You make a good point. I guess that includes should be converted to angle bracket variants.

[2016-04-04 14:25] gianmaria opened #28 "in array.c array_contains() doesn't work"
[code]
in [array.c](https://github.com/srdja/Collections-C/blob/master/src/array.c#L593) you are comparing only the addresses not the actual data, you need a comparison function as argument to `array_contains`
@srdja

[2016-04-04 14:38] srdja commented on #28
Technically it works, because comparing the pointer values was the original idea, but now that you mention it it may not be the most obvious. or the most useful thing to do. So yes, a comparator function should be included.

[2016-04-04 15:38] faviouz commented on #28
Couldn't you just dereference the pointers and compare the values? What is the benefit of passing a comparator function? :)

[2016-04-04 15:43] f2404 commented on #28
@faviouz It's not allowed to dereference a `void *` pointer.

[2016-04-04 15:50] faviouz commented on #28
Ah, of course! :)

[2016-04-05 15:45] f2404 opened #29 "clang reports an issue at slist.c:744"
[code]
The questionable code is at https://github.com/srdja/Collections-C/blob/master/src/slist.c#L747
[code]
As I understand it, clang is worried about the condition to break the loop: on one hand, list size is used a list iterator; on the other hand, next element is verified against NULL on each cycle - which could mean that the size is not still exhausted but next element is NULL.

Maybe it's w

[2016-04-05 15:51] f2404 commented on #28
Looks very similar to #18, right?

[2016-04-05 16:56] gianmaria commented on #28
@f2404 yes indeed

[2016-04-06 16:24] srdja commented on #29
I have added a [fix](https://github.com/srdja/Collections-C/commit/93b51520c557836576b4fac72ce6d37fa4448ba0) for this as you suggested. It shouldn't raise the warning now.

[2016-04-06 16:27] f2404 commented on #29
Yep, clang is glad now!

[2016-04-06 16:27] #29 closed

[2016-04-08 16:42] #16 closed

[2016-04-10 23:02] #12 closed

[2016-04-11 08:04] srdja commented on #18
[done](https://github.com/srdja/Collections-C/commit/67210e5102941ce1b1b31cfbecbc69fb75b16a3d)

[2016-04-11 08:04] #18 closed

[2016-04-11 08:04] srdja commented on #28
I've added a [contains variant](https://github.com/srdja/Collections-C/commit/67210e5102941ce1b1b31cfbecbc69fb75b16a3d) that takes a comparison function. One should now be able to search for the actual values pointed to by the container elements.

[2016-04-11 08:04] #28 closed

[2016-04-12 08:17] prownd opened #35 "readme.md file, Function error in hello.c example"
array_get(ar, 0, (void*) &str);
Is not it should be modified as
array_get_at (ar, 0, (void*) &str);

[2016-04-12 08:38] srdja commented on #35
Thanks for spotting that! It should definately be updated :)

[2016-04-12 08:45] srdja commented on #17
- [ ] Array
- [ ] Deque
- [ ] List
- [ ] SList
- [ ] HashTable
- [ ] TreeTable
- [ ] HashSet
- [ ] TreeSet

[2016-04-12 10:47] f2404 opened #40 "Potential memory leaks in slist functions"
There are potential memory leaks in the functions like below - if the caller provides 'out', they can free it afterwards; but if not, the memory will leak.
[code]

[2016-04-12 11:44] srdja commented on #40
I don't think it's much of a problem since the user would have to pass an `out` to `slist_iter_next` anyway and would thus have a reference to free.
[code]
Basically `iter_remove` removes the element that was already returned by the `iter_next` and it can't operate on any other value so it should be safe to ignore its `out` parameter.

[2016-04-12 11:53] f2404 commented on #40
Maybe I'm missing something... but it seems to me that the caller cannot access the data of the removed element due to these lines:
[code]
The only option to store the pointer to data is to provide 'out'.

[2016-04-12 11:55] f2404 commented on #40
Basically, I started digging into this because valgrind is reporting memory leaks when running 'slist_test'. Some of them are internal to the test code, but others lead into the functions like `slist_iter_remove`.

[2016-04-12 13:32] srdja commented on #40
Technically true because after you call `iter_remove` you can no longer access the data from the list, but in practice `iter_next` gives you the data pointer before you get a chance to remove it from the list. `iter_remove`'s `out` just returns the same thing that `iter_next` out returned and that's why it's not really a big deal if you ignore it or not.

I also ran valgrind and it seems that the

[2016-04-12 13:36] f2404 commented on #40
Ok, accepted. Await a new PR soon :)

[2016-04-12 13:39] srdja commented on #40
Awesome :)

[2016-04-13 12:36] f2404 opened #44 "list.c::list_destroy_free() does not free memory?"
valgrind shows many memory leaks when running 'list_test', and they do not disappear when calling list_destroy_free().
The function list_remove_all_free() called by list_destroy_free() looks suspicious as it calls `unlink_all(list, false)` while the second parameter is supposed to be `true`, as I understand.
However, after changing it to `true` the binary starts failing on memory allocation:
[code

[2016-04-13 22:37] srdja opened #45 "Automatically free data when removing it from a container"
There should be a more convinient way to free data after it's removed from a container and
it should be:

* an optional operation
* should not assume the same allocators are used for both data and the structure

I suggest adding a callback to `remove` type functions so that instead of:

[code]

we could write something like this:

[code]

[2016-04-13 23:20] srdja commented on #44
`unlink_all` being set to `false` is an error, but I can't seem to reproduce the memory allocation failure after setting `unlink_all` to `true`. It seems to work as intended after doing so. Have you made any other modifications apart from fixing the faulty `unlink_all`?

[2016-04-14 07:33] f2404 commented on #45
Is the callback required? I mean, the conf structure already has a pointer to 'free' function ('mem_free'). I think a boolean flag could be enough, i.e. `container_remove_at(c, 3, NULL, true);`

[2016-04-14 07:37] f2404 commented on #44
Yes, it seems you are right - I must have modified the test code so it was failing; the failure is gone after I've reverted my changes.

[2016-04-14 11:24] srdja commented on #45
Well `mem_free` and others are used by the structure internaly. The thing is that we can't guarantee that the data was allocated using the same allocators as was the structure. To illustrate, imagine having some sort of wrappers for `free` and `malloc`, with which we allocate the data to, for example, track the memory consumption, but use regular `free` and `malloc` for the structure because its m

[2016-04-14 11:25] #44 closed

[2016-04-14 11:34] f2404 commented on #45
Ah, I understand what you're saying. Yes, you are right, specifying the callback function is proper way to go.

[2016-04-20 12:55] f2404 opened #49 "return true while cc_stat is expected"
hashtable.c line 185
[code]

I wonder which cc_stat value would be returned... (probably 1).

[2016-04-20 18:23] srdja commented on #49
It should definetly be `CC_OK`.

[2016-04-20 20:15] #49 closed

[2016-04-21 10:12] f2404 opened #53 "list_index_of(): shouldn't a comparator function be used?"
Similar to
[code]

[2016-04-22 14:28] srdja commented on #53
Yup, it should.

[2016-04-25 09:17] f2404 opened #59 "Functions description/implemenation mismatch"
The function does not return the removed element though the description says it should:
[code]
The same applies to
[code]

What is the desired behavior?

[2016-04-25 09:25] f2404 commented on #59
Also, the functions do not return their status.

[2016-04-25 17:38] #53 closed

[2016-04-25 17:50] srdja commented on #59
Both `treetable_iter_remove` and `treeset_iter_remove` definitions are outdated. They should both have the same interface as their `hashtable` counterparts. So basically the documentation is ahead of the implementation :-)

[2016-04-26 08:40] f2404 commented on #59
I'm confused with the treetable.c:remove_node() code. Should it be modified to return CC_ERR_KEY_NOT_FOUND in some cases? Now it's supposed that the node always can be found.

[2016-04-26 19:17] #59 closed

[2016-04-26 19:43] srdja commented on #59
Well `remove_node` operates in a very narrow context so I'm not sure if any useful checks can be done inside of it.

[2016-04-27 11:16] f2404 opened #61 "CC_ITER_END vs CC_ERR_OUT_OF_RANGE"
Different statuses are returned in the same situation - when iterator reaches end of array:
[code]
[code]
Which status should be used to be consistent? I'd suggest using CC_ITER_END whenever an iterator is involved.

[2016-05-04 18:04] f2404 commented on #61
@srdja ?

[2016-06-29 12:28] srdja commented on #35
[Fixed](https://github.com/srdja/Collections-C/commit/e44b3063a57ae5b4f7bac23588e04927b6aedb83)

[2016-06-29 12:29] #35 closed

[2016-06-29 15:22] srdja commented on #61
The problem was that the behaviors of `array_*_iter_remove` and `deque_*_iter_remove` functions were kind of inconsistent with their `list` and `slist` equivalents, in that you could call `iter_remove` repeatedly until you've exausted the array, and thus possibly running into an `CC_ERR_OUT_OF_RANGE`, which is not the case with `list` equivalents where you can only call `iter_remove` once after ca

[2016-06-29 15:55] #61 closed

[2016-09-28 15:25] xfilesee opened #65 "Hashtable free keys"
- In configuration a free function specifically to free keys hashtable_remove and hashtable_destroy cases. In  this configuration the keys are left in heap if they were dynamically allocated.

[2016-09-28 18:20] srdja commented on #65
Hey, thanks for opening an issue :-)

If I understand you correctly, you're saying that there should be a pointer to a `free` function kept in the hashtable structure that would be used to automatically free data when it's removed from the table?

If that's the case, I think it is probably a good idea to add an option for that. Although I think it might be better to do it with a callback function

[2016-09-29 13:40] xfilesee commented on #65
Thanks for the answer.
I needed a solution immediately so I added 2 function pointers to both struct hashtable_s and hashtable_conf_s:
table->key_free
table->value_free
By default NULL is assigned to both of these functions (to match the current configuration) and before calling I always check to make sure they are not NULL: like in hashtable_remove function:
if(table->key_free != NULL)
         t

[2016-10-02 08:53] xfilesee opened #66 "hashtable_add segmentation fault"
* If there is a null key in the table, when adding a value which has hash value of 0 that line in the code causes crash (when string compare default function is used):
- `table->key_cmp(replace->key, key) == 0` --> since replace has a key of NULL and strcmp can not handle NULL pointers.
* To be honest I am not sure how realistic is having NULL key and non-null keys in the same hashtable. Just for

[2016-10-03 02:54] #66 closed

[2016-10-03 03:01] srdja commented on #66
Great find! Those `NULL` keys were definitely handled incorrectly. I've added a fix for it. As for why would the hashtable accept a `NULL` key

[2016-10-09 10:49] xfilesee opened #67 "hashtable buckets memory allocation"
I think memory allocated to the buckets is unnecessarily large:
`table->buckets  = conf->mem_calloc(table->capacity, sizeof(TableEntry));`
should be changed to:
`table->buckets  = conf->mem_calloc(table->capacity, sizeof(TableEntry *));`

The same thing goes for resize case also.

[2016-10-09 14:56] srdja commented on #67
Yup, you're right. It's not only wasteful, but also wrong.

This should be an easy fix. Can you send a PR for it?

[2016-10-10 17:27] #67 closed

[2016-11-08 04:29] fr0stbyte opened #69 "cmake support"
@srdja I am curious if you would entertain the idea of using cmake instead of make/autotools.
The advantage would be a little bit more modern build system, integration with testing frameworks, possibly building .rpm/.deb easier.
Speaking of testing frameworks, was wondering why not use something like CppUTest instead of rolling your own.
I understand the portability aspect of autotools, but cmake

[2016-11-08 11:57] srdja commented on #69
I agree that cmake is more usable (less terrible? :-) than autotools, but at the time when I started the project I wasn't all that familiar with cmake so I just went with what I knew, which was autotools. Same thing happened with the testing framework. It was much easier to quickly hack together my own than to look for some external frameworks. Now, in retrospect, these may not have been the ideal

[2016-11-11 00:23] srdja commented on #69
Implemented in #70

[2016-11-11 00:23] #69 closed

[2016-11-12 19:13] fr0stbyte opened #72 "list_add does not copy data"
When using `list_add_all`(list1, list2) calling `list_destroy_free` on both lists will cause a SIGSEGV. The solution, as I see it is that `list_add_all` needs to do a deep copy of the data.

Looking at the `list_add_all`, looks like it's calling `list_add`, which in turn calls `list_add_last`. That function creates a new `Node` in the list but the data is not copied from input, just the pointers a

[2016-11-13 17:01] srdja commented on #72
The data is not copied by design. You can think of `list_add_all` as nothing more than `list_add` that adds pointers in bulk. And since **pointers are the data** that the list directly holds, it makes no sense to do a deep copy because making deep copies would actually add something else to the list.

As for the potential double `free` when calling `list_destroy_free`, well, that would be an error

[2016-11-14 16:03] fr0stbyte commented on #72
I do think this is an API consistency issue.
`list_add_all` takes 2 list and after the call the user expects to have 2 lists, rather than 1 list and a list of references to the same data.
If `list_add_all` is intended to bulk add data into a list, perhaps the parameters shouldn't be 2 lists, but rather a list and an array of data ( not nodes ) ? After the call to `list_add_all` the user still has

[2017-02-19 09:09] argonlaser commented on #17
Hi @srdja ! Thanks for this awesome library. I was wondering if you are looking for a PR to address this issue. I would like to give a try if so.

[2017-02-19 11:34] srdja commented on #17
Hey @argonlaser, thanks for looking into the library and your interest in contributing. A PR addressing this issue would be most welcome!

However, it would be great if you could say on which specific collection you will be working on, so that we don't end up working on the same thing. Also if ever need any help along the way feel free ask. :-)

[2017-02-19 17:54] argonlaser commented on #17
As I see it, ```array.c``` already has this function. I think I should be using that as a reference for the other collections as well. Please correct me if I am wrong. I would like to start out with the ```deque``` and ```list``` initially.

[2017-02-19 19:34] srdja commented on #17
Yup, you're right, `filter` functions (+ tests) have been implemented for the `Array` so you can use that as a reference, at least on some higher level. As far as the actual implementations go, I think that implementing `filter` for `List` should be pretty straightforward. `Deque` on the other hand, might be a little bit tricky, especially with `filter_mut`, which modifies the actual collection.

[2017-02-20 14:43] argonlaser commented on #17
Hey @srdja ! As a start, I have raised the PR https://github.com/srdja/Collections-C/pull/80 for Singly linked list. Please do have a look.

[2017-02-20 18:40] argonlaser commented on #17
Hi @srdja ! I would like to try the filter functions for ```deque``` and remaining data structures as well when I get some time. I am trying to understand the implementation. Will raise a PR whenever possible. Cheers :+1:

[2017-02-21 17:00] argonlaser opened #81 "deque_remove_first not implemented correctly."
**Issue repro steps**

1. Add 4 numbers 1,2,3,4 in a deque.

2. Apply ```deque_remove_first``` on the deque.

3. Get the first number using ```deque_get_first```. (We get **2** as expected)

4. But if we apply ```deque_get_buffer``` on the deque and get ```buff[0]``` we get **1**.

**Root cause**
[code]

In the above code, we only move the pointer a step and we din't move the buffer data causing t

[2017-02-21 19:00] srdja commented on #81
Hey @argonlaser thanks for raising the issue. I'll just say that implementation is correct, however there are some subtle things about the deque that can cause confusion. I'll come back to you with a more detailed explanation of how this whole deque contraption works, which will hopefully clear out the confusion. :-)

[2017-02-21 19:24] argonlaser commented on #17
Raised https://github.com/srdja/Collections-C/pull/82 for deque filter functions as per the currently written tests.

[2017-03-08 17:56] argonlaser commented on #81
Hi @srdja ! Did you get any chance to look into this?

[2017-06-06 19:27] srdja commented on #81
Hey @argonlaser, I apologize for taking such a long time to respond! I've written an [article](http://tapkanjepotastaturi.info/2017/06/06/deque-as-a-circular-buffer/) to address this issue and hopefully make this whole thing less confusing.

[2017-06-28 17:02] nimitbhardwaj opened #86 "How about adding the new data structure bitmasks, as the bitset in stl of c++"
I once worked with the bitset of c++ its quite handy sometimes when you do competitive coding and is also useful for the works regarding OS studies. So I think it should be implemented

[2017-06-28 17:26] nimitbhardwaj commented on #15
This idea is good, but there is only problem, we need a comparator, as i saw the array implementation, the pointer to the comparator function is not stored in the array struct, so it could be easy if there was a pointer, as if the array was sorted then we could determine if the new element when added will result the array to remain sorted or not in O(1) time, and it would be easy to do bin search,

[2017-06-28 20:08] srdja commented on #86
Sounds like a good idea.

[2017-07-01 04:30] nimitbhardwaj commented on #86
see PR at #87

[2017-08-25 22:21] argonlaser commented on #81
Hi @srdja, Thanks a lot for the article. I understand the underlying design. Let me close the issue.

[2017-08-25 22:21] #81 closed

[2018-01-25 14:47] rainnus opened #90 "list_iter_add throw exception"
After called `list_iter_init`  initializing the iterator, `iter->last` is signed `NULL`.
Then if invoke `list_iter_add`,
line `link_after(iter->last, new_node);` will throw exception.

[2018-01-25 14:55] #90 closed

[2018-04-01 04:29] LeoVen opened #91 "Small typo"
Small typo at [this line](https://github.com/srdja/Collections-C/blob/6e3c76ef0c6065aa5cfb924099457174a11183c0/src/slist.c#L532)

NLLL should be NULL?

[2018-04-01 16:24] srdja commented on #91
Good find! It definitely should be NULL.

[2018-04-03 19:43] #91 closed

[2018-05-24 21:16] ahmedabt commented on #19
do you mean a separate generic function which doesn't belong to any data structure? or a function for the dynamic array data structure only?

[2018-05-25 00:33] srdja commented on #19
@ahmedabt
No, not a separate generic function. What I meant to say is that every sequential data structure should have a `reduce` function that is specific to it. [Array](https://github.com/srdja/Collections-C/blob/c51e17802ed4510a7cc6bf1918a61e36b57e3d51/src/array.c#L881) already has it implemented, but the `Deque`, `List` and `SList` doesn't.

[2018-05-25 10:54] ahmedabt commented on #19
@srdja I can work on it as my first contribution to this project but it will take some time until I get familiar with the guidelines and code.

[2018-11-25 16:52] BornMathias opened #94 "Deque iterator remove"
This function does not remove the element that was last returned by deque_iter_next. It removes the next item

[2018-12-12 12:58] IvanRibakov opened #95 "HashTable is empty, yet CC_ITER_END is not returned"
What could be the possible reason for HashTable iterator `while` loop body executing even though `hashtable_size` is reported as 0?

It must be something I'm doing wrong as a simplified test doesn't reproduce the issue and `while` loop body is not executed on empty HashTable inside the test.

Code structure is roughly like this:

    struct MyStruct {
        ...
        HashTable *my_table;
    }

[2018-12-12 21:43] srdja commented on #95
Thanks for opening the issue! I'll look into it.

[2019-01-21 15:52] IvanRibakov opened #96 "Valgrind "Invalid read of size 8" when using hashtable_get_values + array_remove_at"
Minimal scenario to reproduce the issue:

[code]

**Expecting to see**

[code]

**Getting**

[code]

If I create array manually using `array_new`, I don't get the same issue. Looking at the source code of `array_remove_at` I can see there is a call to `memmove` (https://github.com/srdja/Collections-C/blob/master/src/array.c#L317) which I'm guessing is calling memcpy internally, but unfortunately I

[2019-01-21 20:36] scossu opened #97 "Q: purpose of hashtable_hash_ptr"
Newbie here, so please bear with me, but I think I am missing something obvious.

What is the purpose of `hashtable_hash_ptr` @ https://github.com/srdja/Collections-C/blob/master/src/hashtable.c#L918 ? My understanding is that it would take a pointer value and compute a hash of it.

But since a pointer is 4-8 bytes in most systems, would it not be more convenient to just use the pointer value itse

[2019-02-21 13:24] srdja commented on #96
Good find! I've pushed a [fix](https://github.com/srdja/Collections-C/commit/6722031e04564a1e842d3e854a0816cb7d9a6a94). It was an off by on error in `array_remove_at` in which size was used instead of the highest index to get the moved block size.

[2019-02-21 13:24] #96 closed

[2019-02-21 14:31] srdja commented on #95
[Fixed it](https://github.com/srdja/Collections-C/commit/719fd8c229b2fb369e9fc175fc97ad658108438c). `hashtable_iter_init` wasn't initializing the iterator structure properly when the table was empty. Normally it would go though the bucket array, seek the first entry _and then_ set the iterator. However, in the case of an empty table, it would go though the bucket array, find nothing and **not** se

[2019-02-21 14:31] #95 closed

[2019-03-07 16:27] s1l3ntcat opened #99 "Add Ring Buffer?"
Ring buffers (or circular buffers) are pretty important data structures that are used in many embedded applications (keyboards, drivers, etc). They're pretty similar to queues and are often pretty easy to implement, as the data they store usually consists of relatively small integer values.

[2019-03-07 16:40] srdja commented on #99
There is the [deque](https://github.com/srdja/Collections-C/blob/master/src/deque.c), which is a ring buffer under the hood. However, it does grow automatically when it fills up which defeats the purpose for the things you've mentioned. That said, having dedicated ring structure for that would be nice.

[2019-03-07 16:50] srdja commented on #99
Also do you have anything specific in mind when it comes to the API, general behavior, example use cases?

[2019-03-07 17:16] s1l3ntcat commented on #99
I don't really have anything specific in mind. As long as it works, then it doesn't really matter to me :)

[2019-03-07 17:27] s1l3ntcat commented on #99
Though now that I think about it,  the ring buffer API should not fail with `CC_ERR_MAX_CAPACITY` when the maximum capacity is reached; it should just continue to overwrite the buffer.

[2019-03-10 16:50] srdja commented on #99
Ring buffer added [here](https://github.com/srdja/Collections-C/commit/1a03f4c9e1a638a24f8c5ce22a1137f52de81189).

[2019-03-10 16:50] #99 closed

[2019-06-07 12:49] Kobzol commented on #97
Usually you want your hash function to distribute the values evenly in the hashtable. Values of pointers tend to be clumped together. Also pointers are usually aligned to N-bytes, so the last log2(N) bits are zero, therefore after doing modulo of the hash table size, even more values would clump together.

[2019-06-10 12:03] mljsimone opened #104 "Wrap includes with extern "C""
Like standard C includes does:

#ifdef __cplusplus
extern "C" {
#endif

[2019-06-10 19:46] srdja commented on #104
Definitely, thanks for bringing it up. It was already discussed [here](https://github.com/srdja/Collections-C/issues/26).

[2019-06-10 20:15] mayhemm commented on #104
if you tell me a quick list of what I should do I can send you PR

On Mon, 10 Jun 2019 at 16:46 Srđan Panić <notifications@github.com> wrote:

[2019-07-22 15:09] coleifer opened #106 "invalid access in priority queue"
This fixes an out-of-bounds lookup, which results in a segfault when popping/heapifying:

[code]

[2019-10-29 11:48] giltho opened #118 "List remove performs heap buffer overflow"
The computation of the number of blocks to move in array_remove is wrong. Whenever the array is full, and memory is moved, there is an extra 8 bytes that are moved inside the array's buffer.

A pull request is incoming to fix that.

[2019-10-29 19:27] #118 closed

[2019-10-31 12:00] giltho opened #121 "Use of pointer comparison"
Hi,

The treetable datastructure uses the pointer that is added as keys to compare. The function used is
[cc_common_comp_ptr](https://github.com/srdja/Collections-C/blob/a188188f61b5ab3d5614446de3a3674a620e73b9/src/common.c#L46).
Since it is possible to add any pointer, this data structure will often compare pointers that are from different structures.

In general, this is also the function you us

[2019-11-01 13:13] srdja commented on #121
Good point, although I would go even further and say that getting rid of `cc_common_comp_ptr` completely would be even better. Even if it were correct, it would still be useless most of the time, unless the user decided to hackishly store integers directly into `void*`.

[2019-11-04 03:09] ylme commented on #121
The [description](https://wiki.sei.cmu.edu/confluence/display/c/ARR36-C.+Do+not+subtract+or+compare+two+pointers+that+do+not+refer+to+the+same+array) talks about using subtraction to calulate the array size. [This](https://en.cppreference.com/w/c/language/behavior) has no documents about pointer compare. Are you misunderstanding or me misunderstanding ?
The byte size of pointer is same to the size

[2019-11-04 03:28] ylme commented on #121
I think the meaning of (description)[https://wiki.sei.cmu.edu/confluence/display/c/ARR36-C.+Do+not+subtract+or+compare+two+pointers+that+do+not+refer+to+the+same+array] that the address sequence of `a` and `b` is not relevant with the their code definition order. The **UB** is in a special context.
Without a context, a pointer is an integer. Of course you can comare two integer.
[code]

[2019-11-04 21:48] giltho commented on #121
Actually, @ylme, without context, a pointer is NOT an integer.
As explained [here](http://www.open-std.org/jtc1/sc22/wg14/www/docs/n1124.pdf#page=97),  in the C-specification, if two pointers do not point to the same block, then the comparison is undefined behavior.
This means gcc could decide to compile
[code]
the same way it compiles
[code]
And it would be allowed to do so, given the fact that t

[2019-11-04 21:50] giltho commented on #121
@srdja I'd gladly write a PR, should I just remove its definition and assign `NULL` by default to the comparison functions ?

[2019-11-05 03:18] ylme commented on #121
@srdja I understand that the value of `comp` can be 0 or 1 when running the program.

[code]

But i don't understand that why the compiler can generate `int comp = 1` without calling `malloc` on runtime.

[code]

[2019-11-05 03:21] ylme commented on #121
@giltho Got it, you are right.

[2019-11-05 03:26] ylme commented on #121
How about this ?

[code]

[2019-11-05 03:31] ylme commented on #121
Or how about this ?

[code]

[2019-11-05 13:18] srdja commented on #121
@ylme I don't see why that wouldn't work, since you're comparing them as integers, not as pointers. But still, it's best to leave it to the user to write something like that.

[2019-11-05 13:20] srdja commented on #121
@giltho That would be awesome! But maybe instead of setting it to `NULL`, it might be better to set it to string comparison. That way it'll be consistent with the hash table default.

[2019-11-05 14:41] giltho commented on #121
Should I add the comparison function in the ArrayConf structure ? Like it is in the treetable structure ?
Or should I leave it as a parameter of the function ? If I leave it as a parameter of the function, I can't initialize it as anything, and I might as well remove the `array_contains` function and only keep `array_contains_value`
[Here](https://github.com/srdja/Collections-C/blob/master/src/arr

[2019-11-05 15:49] srdja commented on #121
I think you should leave it out of the config. It is only a dependency for that particular utility function, as opposed to the whole structure.

As for `array_contains`, it's too useful to remove. Better to just check for pointer equality inside of it, instead of calling `array_contains_value` with a pointer comparator.

Something like:

[code]

[2019-11-17 16:02] giltho opened #124 "ring_buffer actual capacity ?"
Hello,

I think there is an issue with the ring buffer capacity. The buffer is allocated in the [following way](https://github.com/srdja/Collections-C/blob/master/src/ring_buffer.c#L44) :
[code]
I am pretty sure it should be `sizeof(uint64_t)` instead. Right now, for a ring buffer of capacity 10, insteda of allocating 80 bytes, it allocates 640 bytes !
It is also possible to call `rbuf_peek(rbuf,

[2019-12-12 12:09] #124 closed

[2020-01-11 09:43] DrizztDU opened #127 "When the length of the array is 0, the function `array_reverse` is wrong."
When the size of the array is 0, the variable `j` will become very large.

When called, a segmentation fault will be triggered.

[Code](https://github.com/srdja/Collections-C/blob/584e113e123ac30fe78b3e92d70f6c40a066960d/src/array.c#L680)

[2020-01-11 09:51] DrizztDU commented on #127
[code]

[2020-01-19 06:46] yangxingpping commented on #45
I'm also have the same issue,  Like hashtable_remove(table, key, out).
hashtable key and value are both alloc by malloc before call hashtable_add(table, key, value),
but I cann't get key pointer after call hashtable_remove(...).
When I try to set config->mem_free callback, but I found callback not only call with TableEntry, but alse with table->buckets and table in hashtable_destroy(),  and I can'

[2020-01-19 20:37] stefanct commented on #27
This does not make sense at all - please close it. `""` searches for the included file in the same directory as the including file first (although this is not mandated by the ISO standard I am not aware of any compiler that doesn't do this). This search terminates immediately with the current directory structure.

[2020-01-19 20:53] stefanct commented on #127
I can confirm: `ar->size - 1` will underflow because the calculation is done as `size_t` which is unsigned. `array_remove_last()` underflows too but passes the value on to `array_remove_at()` where it is checked before use (I don't see a good reason to change anything in that case). There is one place I could not easily verify and that's in `array_filter_mut()`. Everything else looks clear to me.

[2020-01-19 20:57] stefanct commented on #127
OP has also posted the actual fix as a PR in #128 (that also limits the scope of the loop variables which I appreciate but left out because it's unrelated).

[2020-01-19 23:09] stefanct opened #130 "Using non-string hash{table,set} is harder than needed"
The documentation gives some hints that the default `hashtable` and `hashset` implementation are assuming C strings as keys. However, the "official" [documentation](https://srdja.github.io/Collections-C/#hashtableconf) use some defines that have been removed in the meantime, e.g. in 9b4c3cb. As of now using the hashing data structures with anything but strings as keys is rather a PITA. There is al

[2020-01-20 03:14] DrizztDU commented on #127
Solved.

[2020-01-20 03:14] #127 closed

[2020-01-30 11:07] srdja commented on #130
The documentation is definitely a pain point and, in my opinion, should be deleted and replaced with code examples that build and link against the library. That way if they become outdated, they crash the build. (coming soon™)

Well, [there is](https://github.com/srdja/Collections-C/blob/91a6d64461695ef89e86507fd3d847112bec016f/test/hashtable_test.c#L266) , but the boilerplate is separated out int

[2020-01-30 11:28] stefanct commented on #130
Yes, stale/wrong documentation is way worse than no documentation and having to figure out the code directly.

I was referring to the hastset tests that use strings only AFAICT. Looking at the hashtable tests instead *would* have helped me actually.

Well, the UB mentioned there is (I think) only relevant if you compare pointers to vastly different things (e.g., function pointers that might point

[2020-07-05 02:51] jzijin opened #131 "Problem in hashtable"
The function hashtable_new_conf in hashtable.c. I found that
`table->buckets  = conf->mem_calloc(table->capacity, sizeof(TableEntry));`
It confuse me. The type of `table->buckets` is `TableEntry**`. Why do not just use
`table->buckets  = conf->mem_calloc(table->capacity, sizeof(TableEntry*));`
I modify `table->buckets  = conf->mem_calloc(table->capacity, sizeof(TableEntry));`  to `table->buckets

[2020-07-07 03:22] alkeldi commented on #131
I think you are correct. When allocating the buckets memory, only the size of a pointer is needed. The memory of the TableEntry struct itself is allocated separately in `hashtable_add`. The reason it works now is because the allocated memory is more than what is actually needed, but this is wasting too much memory.

[2020-07-10 10:23] #131 closed

[2020-07-14 20:23] alkeldi opened #133 "Adding a Ternary Search Tree"
Hash tables are an excellent data structure for amortized constant time operations. But, calculating the hash is not actually O(1). It's more like O(h), where h is the length of the hashed key.
With a ternary search tree, it's possible to get similar results to those obtained from a Hash Table without the need of resizing the table, or having extra unused entries as with the hash table.

[2020-07-17 16:29] srdja commented on #133
Yeah, it sounds good. We already have two different tables with different time/space properties, so I don't see why we shouldn't add another. More tools in the toolbox.

[2020-08-09 10:49] Pascal-Ortiz opened #134 "is a Vector data structure available?"
Does the library provide a vector data structure? By a _vector_, I mean a similar data structure to C++/STL vector, ie a right-extensible array containing elements placed in contiguous storage and you can access by integer indexing.

The library provide a deque data structure ; however elements (not their address) are not placed in a contiguous sequence of bytes.

EDIT The issue is solved since ve

[2020-08-10 23:59] srdja commented on #134
I'm not sure where you're coming from here. If you look at any other container implementation for the *C* language, you'll see that they all use the same method. I've seen plenty of programs in which storing pointers inside containers was a useful thing to do. Now, of course, sometimes you actually do want to store things directly, but it's hard to write a generic container in C that doesn't use `

[2020-08-11 13:15] Pascal-Ortiz commented on #134
In fact, you can find some container C libraries implementing what I'm looking for, that is a true container, not a shallow one ie containing only reference to data:

- a well known example is the [glib](https://github.com/GNOME/glib/blob/master/glib/garray.c#L107) library whose implementation use the `void*` generic pointer.
- the same for the [qlib](https://github.com/wolkykim/qlibc/blob/master/

[2020-08-11 14:36] srdja commented on #134
Ah okay, I got it. You want a container that copies the data into it and I agree it would be a nice addition. I might add it eventually. However, you are always welcome to send a pull request if you feel like contributing!

[2020-08-11 20:49] bkthomps commented on #134
Hi @Pascal-Ortiz I see you linked my [Containers](https://github.com/bkthomps/Containers/blob/master/src/vector.c#L33) library's hash table.

In my implementation, you can either copy the data or copy the pointer, up to you. If you pass in a pointer to your data, it copies the data, but if you pass in a pointer to a pointer, it copies the pointer. I'm re-working the library to be more efficient, a

[2020-08-15 16:27] Pascal-Ortiz commented on #134
Hi Bailey!

Indeed, your vector holds the data and is 100% OK for me.

I was talking about the hashtable implementation and to me more precise i was referring to this [line of code](https://github.com/bkthomps/Containers/blob/master/src/unordered_map.c#L118) from the `unordered_map_add_item` function:

[code]
where `add` is a pointer.

Ah, ok, perhaps are you referring to the [`unordered_map_put`]

[2020-08-15 16:39] bkthomps commented on #134
@Pascal-Ortiz that function is used internally (it is possible to put the pointer into the bucket because prior to that in the put function, a copy is made). The put function is the one which users of the library would use.

Also I don't want it to look like I'm hijacking this repository's issue, so maybe we should move this discussion to an issue in bkthomps/Containers or in email?

[2020-08-15 19:18] Pascal-Ortiz commented on #134
Certainly better.

[2020-08-15 19:21] #134 closed

[2020-10-01 10:37] yangxingpping opened #139 "rbuf_conf_new test"
rbuf_conf_init and rbuf_conf_new  can not be used. Maybe struct ring_buffer_conf should definded in file ring_buffer.h?

[2020-12-09 10:39] khasanovasad opened #144 "How about adding AVL or Red Black tree data structure?"
I would love to see self balancing Binary Search Tree data structure with generics support. Ready to start working on it as long as it is OK. Here I have a draft version written for my own library. Should be changed to match the overall standards of Collections-C repository. My AVL tree implementation:

https://github.com/khasanovasad/TheAlgorithms/blob/main/data-structures/include/ue_avl.h
https:

[2020-12-09 11:23] srdja commented on #144
Hi @khasanovasad, thanks for the suggestion! We already have an RB tree implemented as the [treetable](https://github.com/srdja/Collections-C/blob/master/src/treetable.c), however, having an additional AVL version would be nice.

[2020-12-10 10:02] khasanovasad commented on #144
Good. I will work on that!

[2021-02-09 13:50] #139 closed

[2021-02-21 16:09] khasanovasad commented on #144
Hello, @srdja, I was just wondering if the AVL version of the tree data structure should also be implemented with key-value pair as its data. Or would it be adequate for a node to hold single value only?

[2021-02-22 17:27] srdja commented on #144
Hi @khasanovasad, it depends on what kind of high level container you want to implement. If you want to make another alternative implementation of the table container (which is easily convertible to a set by ignoring the value), then it makes sense to store a key-value pair. On the other hand, if you only want the tree to be used as a set, then you only need one value, and so on depending on the c

[2021-10-25 22:34] fhilgers opened #146 "(deque.c): inline function upper_pow_two only valid for 32 bit size_t"
In the `common.h` header file, `MAX_POW_TWO` is defined like this:
[code]
This macro is for example used in the function, `static size_t upper_pow_two (size_t)`, of the `deque.c` file. It either returns `MAX_POW_TWO` or the given argument rounded up to the next higher power of two.
As far as I am aware, those bit manipulations:
[code]
used to round the argument to the next power are only valid up

[2021-11-11 12:04] filipeom opened #147 "PQueue heap-overflow"
I've detected a heap-overflow bug in the following snipped of code:
[code]
The problem occurs in the last iteration of the while loop, when computing the new value of the variable `parent`, which would be in the index `(0-1)/2` in `pq->buffer`. However, since `i` is declared to be of type `size_t` (unsigned int), the evaluation of `(0-1)/2` will trigger an integer overflow, and subsequently lead t

[2021-11-13 11:20] srdja commented on #147
Thanks for spotting this @filipeom!

You're right, it's definitely a bug. If you send a PR I'll merge it in :)

[2021-11-13 16:35] #147 closed

[2021-12-06 03:45] yaoture3 opened #149 "deque_remove_at error"
Issue repro steps:

1. Add at least 2 elements with deque_add_first.

2. Use deque_remove_at to get a element which index greater than 0,your will find element is wrong.

I think the problem is at this sentence 'void *removed  = deque->buffer[index];', in which 'index' should be replaced by 'p'.

enum cc_stat deque_remove_at(Deque *deque, size_t index, void **out)
{
    if (index >= deque->size)

[2022-01-11 16:13] qequ commented on #19
Is this issue still up? I'd like to contribute with this

[2022-01-13 10:13] srdja commented on #19
Hey @qequ, the issue is still up, and of course, you're welcome to contribute :)

[2022-02-19 15:00] 766F6964 opened #153 "Bug in cc_array_reverse()"
**Summary:**
The array reverse function fails to correctly reverse the elements.
Look at the following example:
[code]
The expected output should be:
[code]
However, instead this is the result:
[code]

**Cause:**
It seems the problem is in [cc_array.c, line 690](https://github.com/srdja/Collections-C/blob/master/src/cc_array.c#L690).
Changing it to this: `for (size_t i = 0, j = ar->size - 1; i < j

[2022-10-05 09:51] HNYuuu opened #155 "Implementation error in `cc_array_reverse` and `cc_deque_reverse`"
I have confirmed the issue raised in #153, i.e., the `cc_array_reverse` cannot properly reverse an array in even number of elements.

Moreover, I noticed that this issue also exists in `cc_deque_reverse`.

The fix is incoming.

[2022-10-06 06:52] #155 closed

[2022-10-27 08:15] 3oheicrw-alter-ego opened #157 "cmake configuration failed on latest MSYS2"
[code]

[2022-10-27 09:41] 3oheicrw-alter-ego commented on #157
Install mingw-w64-x86_64-cpputest if use MINGW64, mingw-w64-clang-x86_64-cpputest if use CLANG64. They said it's optional but without it configuration will fail. Now configuration done. But build failed.

[2022-10-27 09:41] #157 closed

[2022-11-03 03:15] xujiesh0510 opened #158 "document is inaccurate about key_compare function"
https://srdja.github.io/Collections-C/#hashtableconf
field  key_compare   in   HashTableConf :

key comparator function which returns true if the keys are identical

---> should change to "key comparator function which returns 0 if the keys are identical"

[2022-11-14 15:55] Toliak opened #159 "Is "stdio.h" necessary?"
There is (https://github.com/srdja/Collections-C/blob/master/src/include/cc_ring_buffer.h#L13) the line `#include <stdio.h>`.
I haven't found any printf/scanf in the code.
Also tried to remove this line and the code compiled correctly, therefore, I think it is unnecessary.

[2022-11-15 22:20] srdja commented on #159
Yeah, definitely shouldn't be there. I guess it's a leftover from printf debugging.

[2022-11-19 20:35] kbridge opened #160 "The call to mem_alloc in cc_array_subarray() is unsafe"
https://github.com/srdja/Collections-C/blob/5285da8dcd3dbfe32f960abc7bf287db0d2600c5/src/cc_array.c#L479

Because `ar->capacity * sizeof(void*)` can overflow. Should use `ar->mem_calloc`.